$primary: #7B0323;
$secondary: #f7f1e3;

@use "bulma/sass" with (
  $family-primary: var(--font-montserrat),

  $text-strong: #122443,
  $primary: $primary,
  $title-color: $primary,
  $content-heading-color: $primary,

  $link: $primary
);
