$primary: #ae2042;

@use "bulma/sass" with (
  $family-primary: var(--font-montserrat),
  $text-strong: #122443,
  $primary: $primary,
  $title-color: $primary,
  $content-heading-color: $primary,

  $link: $primary
);

:root {
  --bulma-link-text: $primary;
}
