$text: #122443;
$primary: #2a6f5b;
$secondary: #f7f1e3;

@use "bulma/sass" with (
  $family-primary: var(--font-montserrat),

  $text: $text,
  $text-strong: #122443,
  $primary: $primary,
  $title-color: $primary,
  $content-heading-color: $primary,

  $body-background-color: #fefefe,

  $link: $primary
);
